html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: #bdbdbd;
  padding-top: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
}
header {
  display: flex;
  padding-bottom: 30px;
  padding-top: 20px;
}
header .logo-header {
  margin: 0 auto;
}
header .logo-header img {
  max-width: 100%;
  padding: 20px;
}
.gallery {
  padding-left: 10px;
  padding-right: 10px;
}
.gallery ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box {
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 10px white solid;
}
.box img {
  max-height: 100%;
}
